// Colors
$white: #F6F6F6;
$dark-grey: #333333;
$dark-red: #990100;
// From palette: http://www.colourlovers.com/palette/490780/The_First_Raindrop
$dream-blue: #E8F3F8;
$rain-blue: #DBE6EC;
$silent-blue: #C2CBCE;
$border-of-blue: #A4BCC2;
$sly-blue: #81A8B8;
